.width-100.absolute.mapper
    .img-block.map.centred
        .img-block.place-blue-big
        .adress-box.display-vertical.display-centring.space-center
            .boxused-block 
                .img-block.place-blue
                p.default-size-16.manrope Белорусская, Александра Невского, 19–25
            input(placeholder="Введите адрес откуда вы поедете")
#content-block.content-block.display-vertical.centred
    .img-block.work-place
    .display-vertical.left-content-prop
        fieldset
            legend.default-size-12.manrope.black-color.font-weight-600(v-if="empty") Главная &nbsp / &nbsp Контакты
            p.default-size-30.igra.pads-null Контакты
        fieldset.special-margin-top-20 
            legend.default-size-14.manrope Адрес и режим работы:
            .boxused-block
                .img-block.clock
                p.default-size-14.manrope Ежедневно с 10 до 22
            .boxused-block.special-margin-top-6
                .img-block.place
                p.default-size-14.manrope Белорусская Александра Невского, 19–25
        fieldset.special-margin-top-30 
            legend.default-size-14.manrope Связь:
            .boxused-block.special-margin-top-6
                .img-block.phone
                p.default-size-16.manrope +7 (495) 132-00-03
            .boxused-block.special-margin-top-6
                .img-block.watsup
                p.default-size-16.manrope +7 (968) 509-22-00
            .boxused-block.special-margin-top-6
                .img-block.email
                p.default-size-16.manrope Amalfibeauty.ru@yandex.ru
        fieldset.special-margin-top-25 
            legend.default-size-14.manrope Соцсети:
            .boxused-block.special-margin-top-6
                .img-block.instagram
                p.default-size-14.manrope INSTAGRAM
            .boxused-block.special-margin-top-6
                .img-block.facebook
                p.default-size-14.manrope FACEBOOK
        fieldset.special-margin-top-40
            p.default-size-30.igra.pads-null Мы на карте