.foot.display-vertical
    .display-horison.display-centring.space-between
        .img-block.logo
        .boxused-block.left-35
            .img-block.place
            p.default-size-14.montserrat Белорусская, Александра Невского, 19–25
        .boxused-block 
            .img-block.clock
            p.default-size-14.montserrat Ежедневно с 10 до 22
        p.default-size-30.montserrat +7 (495) 132-00-03
    .display-horison.space-between.special-margin-top--40
        .display-vertical
            a.default-size-15.montserrat.menu-item Маникюр
            a.default-size-15.montserrat.menu-item Педикюр
            a.default-size-15.montserrat.menu-item Покрытие
            a.default-size-15.montserrat.menu-item Наращивание
        .display-vertical
            a.default-size-15.montserrat.menu-item Услуги
            a.default-size-15.montserrat.menu-item Дизайны
            a.default-size-15.montserrat.menu-item Прайс
            a.default-size-15.montserrat.menu-item О студии
        .display-vertical
            a.default-size-15.montserrat.menu-item Отзывы
            a.default-size-15.montserrat.menu-item Статьи
            a.default-size-15.montserrat.menu-item Акции
            a.default-size-15.montserrat.menu-item Контакты
        .display-vertical
            p.default-size-16.montserrat.menu-item amalfibeauty.ru@yandex.ru
            .boxused-block 
                .img-block.instagram
                p.default-size-14.manrope INSTAGRAM
            .boxused-block 
                .img-block.facebook
                p.default-size-14.manrope FACEBOOK
            .boxused-block 
                .img-block.watsup
                p.default-size-16.manrope WHATSUP