.topbar.display-horison.space-center.display-centring
    .img-block.logo
    .menu.display-vertical 
        .height-50.underliner.display-horison.display-centring
            .boxused-block.special-padding-margin-0 
                .img-block.clock
                p.default-size-14.montserrat Ежедневно с 10 до 22
            .boxused-block.left-35.special-padding-margin-0 
                .img-block.place
                p.default-size-14.montserrat Белорусская, Александра Невского, 19–25
            p.default-size-18.montserrat.left-63 +7 (495) 132-00-03
            u.left-41
                a.default-size-15.montserrat.font-weight-600 Записаться онлайн
        nav.height-50.display-horison.space-between.display-centring
            a.default-size-15.montserrat.menu-item Услуги
            a.default-size-15.montserrat.menu-item Дизайны
            a.default-size-15.montserrat.menu-item Прайс
            a.default-size-15.montserrat.menu-item О студии
            a.default-size-15.montserrat.menu-item Отзывы
            a.default-size-15.montserrat.menu-item Статьи
            a.default-size-15.montserrat.menu-item Акции 
            a.default-size-15.montserrat.menu-item Контакты