@font-face {
    font-family: Igra;
    src: url("../font/IgraSans.otf");
}

.igra {
    font-family: Igra;
}
.manrope {
    font-family: Manrope;
}
.montserrat {
    font-family: Montserrat;
}